html {
    font-size: 16px;
    overflow-x: hidden;
  }

  body {
    overflow: hidden;
    font-family: "Speedee-Normal";
  }


  h1{
    font-size:32px;
    font-family: "Speedee-Bold";
    margin:5px 0;
  }

  p, ul, li, a{
    font-size:14px;
    font-family: "Speedee-Normal";
    margin:0;
  }

  .disable {
    pointer-events: none;
  }

  .show{
    display: inherit !important;
  }

  .hide{
    display: none !important;
  }
