/* disable */
  .disable {
    pointer-events: none;
  }
/* show hide */
  .show{
    display: inherit !important;
  }

  .hide{
    display: none !important;
  }
  
/* wrapper */
.wrapper-wide{
    width: 100%;
    max-width:1440px;
    margin: 80px auto 30px;
}
.wrapper-std{
    width: 100%;
    max-width:1180px;
    margin: 80px auto 30px;
}
/* width */
.w-25{ width:25% }
.w-50{ width:50% }
.w-75{ width:75% }
.w-100{ width:100% }

/* Image */
.img {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
}
/* display */
.d-flex{display:flex;}
.d-inline{display:inline;}
.d-block{display:block;}
.d-none{ display:none;}
/* text alignment */
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
/* padding */
.p-0{padding: 0;}
.p-10{padding: 10px;}
.p-20{padding: 20px;}
.p-30{padding: 30px;}
.p-40{padding: 40px;}
.p-20{padding: 50px;}
/* padding left */
.pl-0{padding-left: 0;}
.pl-10{padding-left: 10px;}
.pl-20{padding-left: 20px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.pl-50{ padding-left: 50px;}
/* padding right */
.pr-0{padding-right: 0;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pr-30{padding-right: 30px;}
.pr-40{padding-right: 40px;}
.pr-50{ padding-right: 50px;}
/* padding top */
.pt-0{padding-top: 0;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-50{ padding-top: 50px;}
/* padding bottom */
.pb-0{padding-bottom: 0;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{ padding-bottom: 50px;}

/* margin */
.m-0{margin: 0;}
.m-10{margin: 10px;}
.m-20{margin: 20px;}
.m-30{margin: 30px;}
.m-40{margin: 40px;}
.m-50{margin: 50px;}
/* margin left */
.ml-0{margin-left: 0;}
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}
/* margin right */
.mr-0{margin-right: 0;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
/* margin top */
.mt-0{margin-top: 0;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
/* margin bottom */
.mb-0{margin-bottom: 0;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}

/* Flex Box Justify Content */
.justify-content-start{justify-content:start}
.justify-content-end{justify-content:end}
.justify-content-center{justify-content:center}
.justify-content-between{justify-content:space-between}
.justify-content-around{justify-content:space-around}
/* Flex Box Flex Direction Property */
.flex-row{flex-direction: row;}
.flex-row-reverse{flex-direction: row-reverse;}
.flex-column{flex-direction: column;}
.flex-column-reverse{flex-direction: column-reverse;}
/* Flex Box Align item Property */
.align-items-start{align-items: start;}
.align-items-end{align-items: end;}
.align-items-center{align-items: center;}
.align-items-baseline{align-items: baseline;}
.align-items-stretch{align-items: stretch;}
/* Flex Box Align self Property */
.align-self-start{align-self: flex-start;}
.align-self-end{align-self: flex-end;}
.align-self-center{align-self: center;}
.align-self-baseline{align-self: baseline;}
.align-self-stretch{align-self: stretch;}
/* Flex Box Wrap Property */
.flex-nowrap{flex-wrap: nowrap;}
.flex-wrap{flex-wrap: wrap;}
.flex-wrap-reverse{flex-wrap: wrap-reverse;}
/* Flex Box Align Content Property */
.align-content-start{align-content: start;}
.align-content-end{align-content: end;}
.align-content-center{align-content: center;}
.align-content-around{align-content: space-around;}
.align-content-stretch{align-content: stretch;}